.header {
  background-color: black;
  color: white;
  height: 10vh;

  .container {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
  }

  nav {
    display: flex;
    gap: 10px;
  }

  .logo {
    font-size: 1.8rem;
  }

}